p#title{
	text-align: center;
	color: #41A317;
	font-size: 20pt;
}
#login_box{
	width: 40%;
	border: 3px solid #41A317;
	-moz-border-radius: 10px;
	padding: 10px;
	margin:0 auto;
}
#login_box table{
	width: 100%;
	
}
#login_box table tr td{
	padding-bottom: 15px;
	background-color: white;
	border-bottom: 0;
}
#login_box td.head{
	width: 40%;
	text-align: left;
	font-weight: bold;
}
#login_box a:HOVER{
	text-decoration: none; 
	
}